<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA757f8LFC5zZQXzcDeWFJjWFaqjLU6luo</string>
	<key>GCM_SENDER_ID</key>
	<string>422986280730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseMobilAppTutorial</string>
	<key>PROJECT_ID</key>
	<string>ilkmobilapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ilkmobilapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422986280730:ios:906e8c936872aa4a8706a3</string>
</dict>
</plist>